<a href="/voicemail/"><i class="fas fa-arrow-alt-circle-left"></i> Lines</a>
<h1>{{service.description || service.billingAccount}}</h1>
<tabs>
    <pane title="{{voicemail.description}} ({{voicemail.serviceName | tel}})" ng-repeat="voicemail in service.voicemails | toArray:false | orderBy:'serviceName'">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Caller</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="message in voicemail.messages | toArray:false | orderBy:'-id'" rel="message{{message.id}}">
                    <th scope="row">{{message.id}}</th>
                    <td>{{message.creationDatetime | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{message.caller | tel }}</td>
                    <td>{{message.duration}}s</td>
                    <td>
                        <ng-container ng-if="!message.download">
                            <button ng-click="playMessage(service.billingAccount, voicemail.serviceName, message.id)" class="btn btn-sm btn-outline-success">
                                <i class="fas fa-play"></i>
                            </button>
                        </ng-container>
                        <ng-container ng-if="message.download">
                            <ng-container ng-if="!message.download.status">
                                <span class="btn btn-sm btn-outline-success">
                                    <i class="fas fa-circle-notch fa-spin"></i>
                                </span>
                            </ng-container>
                            <ng-container ng-if="message.download.status">
                                <ng-container ng-if="message.download.status == 'done'">
                                    <ng-container ng-if="message.download.audio.paused || message.download.audio.ended">
                                        <button ng-click="playMessage(service.billingAccount, voicemail.serviceName, message.id)" class="btn btn-sm btn-outline-primary">
                                            <i class="fas fa-play"></i>
                                        </button>
                                    </ng-container>
                                    <ng-container ng-if="!(message.download.audio.paused || message.download.audio.ended)">
                                        <button ng-click="stopMessage(service.billingAccount, voicemail.serviceName, message.id)" class="btn btn-sm btn-outline-warning">
                                            <i class="fas fa-stop"></i>
                                        </button>
                                    </ng-container>
                                </ng-container>
                                <ng-container ng-if="message.download.status != 'done'">
                                    <span class="btn btn-sm btn-outline-danger">
                                        <i class="fas fa-exclamation-circle"></i> An error has occured !
                                    </span>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <button ng-click="downloadMessage(service.billingAccount, voicemail.serviceName, message.id)" class="btn btn-sm btn-outline-info">
                            <i class="fas fa-download"></i>
                        </button>
                        <button ng-click="deleteMessage(service.billingAccount, voicemail.serviceName, message.id)" class="btn btn-sm btn-outline-danger">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </pane>
</tabs>
